/* selector universal*/

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.logo {
    width: 100%;
    background-color: #696969;
    background-size: 1000px;
    padding: 25px 0 15px 0;
    font-size: 25px;
    font-family: 'Fresca', sans-serif;
    color: #EEE;
    letter-spacing: 30px;
}

.hide {
    display: none;
}

.pantalla {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#pantalla-1 {
    background-image: url(http://www.bruna.cat/imgdownload/full/13/135498/wallpaper-para-computador.jpg);
}

#pantalla-2 {
    background-image: url(http://k31.kn3.net/taringa/1/3/6/2/2/3/38/arispc/D08.jpg?8157);
}

#pantalla-3 {
    background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1200/1612/Black-cat-face-yellow-eye_1920x1200.jpg);
}

#pantalla-4 {
    background-image: url(https://exuc.files.wordpress.com/2016/09/gato-negro.jpg)
}

.cuadroDeTexto,
.cuadroDeTexto-4 {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 5px;
    border-radius: 35px;
}

.cuadroDeTexto-2 {
    width: 450px;
    height: 78px;
    margin-top: 11px;
    margin-bottom: 10px;
    border: 7px inset white;
    background-color: #2f3640;
    color: white;
}

.cuadroDeTexto-3 {
    width: 450px;
    height: 78px;
    border: 7px inset white;
    margin-top: 10px;
    background-color: #2f3640;
    color: white;
}

.vista-1 {
    display: flex;
    align-content: center;
    width: 40%;
}

.fas {
    font-size: 60px;
    display: inherit;
}

#nombre {
    color: #EEE;
    font-size: 15px;
    display: grid;
}

.contraseña {
    color: rgb(247, 247, 245);
    font-size: 15px;
}

.resultado {
    color: rgb(193, 250, 228);
    font-size: 23px;
}

.bienvenida {
    padding-top: 20px;
    font-size: 100px;
    color: lightgray;
}

.presentacion {
    margin-top: 20px;
    font-size: 50px;
    color: rgb(248, 245, 246);
}

.nota {
    padding-top: 5em;
}

.alerta {
    font-size: 30px;
    color: white;
    display: inline;
}

h2 .fas {
    font-size: 40px;
    color: red;
    display: inline;
    margin-right: 7px;
}

.ahora {
    padding-top: 40px;
    color: white;
    font-size: 37px;
}

#confe {
    color: #ff7675;
    font-size: 20px;
}

#caja {
    float: right;
    margin-top: 25px;
    margin-right: 38px;
}

#offset {
    background-color: grey;
    border: 3px solid white;
}

#eda {
    color: white;
    font-weight: bold;
}

.button {
    border: none;
    border-radius: 35px;
    font-size: 14px;
    outline: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 7px;
}

.buttonPass {
    border: none;
    border-radius: 35px;
    font-size: 20px;
    outline: none;
    color: #ffffff;
    height: 40px;
    width: 100px;
    background-color: #3f4044c4;
    margin-top: 40px;
}

#seguir {
    background-color: grey;
    display: inline;
    margin-left: 498px;
    box-shadow: 0px 3px 0px black;
}

#cifrar {
    background-color: #7f8fa6;
    margin-right: 35px;
    box-shadow: 0px 3px 0px #718093;
}

#descifrar {
    background-color: #353b48;
    box-shadow: 0px 3px 0px #2f3640;
    margin-right: 51px;
}

#limpiar {
    background-color: #ff7675;
    margin-right: 103px;
    box-shadow: 0px 3px 0px #d63031;
}

#publicar {
    background-color: #353b48;
    box-shadow: 0px 3px 0px #2f3640;
}

#volver {
    background-color: lightslategray;
}

#salir {
    background-color: lightgray;
    color: #2f3640;
}

.button:hover {
    box-shadow: 0px 0px 0px !important;
    padding-top: 6px;
}

#publicaciones {
    font-size: 56px;
    padding-top: 30px;
    color: cadetblue;
}

#traducto {
    color: darkkhaki;
    font-size: 30px;
    margin-right: 637px;
}

#traducto-2 {
    size: 30px;
    color: snow;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 8px;
    padding: 8px;
    border-bottom: 2px solid rgb(157, 193, 230);
    border-top: 2px solid rgb(157, 193, 230);
}

.hide {
    display: none;
}

.pantalla {
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#pantalla-1 {
    background-image: url(http://www.bruna.cat/imgdownload/full/13/135498/wallpaper-para-computador.jpg);
}

#pantalla-2 {
    background-image: url(http://k31.kn3.net/taringa/1/3/6/2/2/3/38/arispc/D08.jpg?8157);
}

#pantalla-3 {
    background-image: url(https://s2.best-wallpaper.net/wallpaper/1920x1200/1612/Black-cat-face-yellow-eye_1920x1200.jpg);
}

#pantalla-4 {
    background-image: url(https://exuc.files.wordpress.com/2016/09/gato-negro.jpg)
}

.cuadroDeTexto,
.cuadroDeTexto-4 {
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
    margin-top: 5px;
    border-radius: 35px;
}

.cuadroDeTexto-2 {
    width: 450px;
    height: 78px;
    margin-top: 11px;
    7 margin-bottom: 10px;
    border: 7px inset white;
    background-color: #2f3640;
    color: white;
}

.cuadroDeTexto-3 {
    width: 450px;
    height: 78px;
    border: 7px inset white;
    margin-top: 10px;
    background-color: #2f3640;
    color: white;
}

.panel-indicacion {
    background-color: gray;
    border: 3px;
    padding: 25px;
    width: 30%;
    height: 88%;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
}

.panel-indicacion p {
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 40px;
}


}
.panel-indicacion li {
    text-align: left;
    font-size: 15pt;
    padding-top: 8px;
    font-weight: bold;
}
.panel-cifrado {
    padding-top: 5px;
    width: 60%;
    float: right;
}
.panel-cifrado p {
    font-size: 20px;
    font-weight: 5px;
}